<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex,nofollow,noarchive">
    <meta name="googlebot" content="noindex,nofollow,noarchive">
    
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>fret作 Hyper SEまとめ</title>

    <!-- Bootstrap -->
    <link href="./css/bootstrap.min.css" type="text/css" rel="stylesheet">

    <link href="./css/my.css" type="text/css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="./js/html5shiv_3_7_2.min.js"></script>
      <script src="./js/respond_1_4_2.min.js"></script>
    <![endif]-->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="./js/jquery_2_1_1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="./js/bootstrap.min.js"></script>

    <script src="./js/smoothscroll.js"></script>
    <script src="./js/my.js"></script>
  </head>
  <body>
    
    <header>
      <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
          <div class="navbar-header">
            <a href="./index.html" class="navbar-brand">SEまとめ</a>
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
              <li class="dropdown active"><a href="./index.html">Top</a></li>
              <li><a href="./information.html">説明</a></li>
              <li class="dropdown">
				<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">一覧 <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu">
				  <li><a href="./list/a.html">あ行</a></li>
				  <li><a href="./list/k.html">か行</a></li>
				  <li><a href="./list/s.html">さ行</a></li>
				  <li><a href="./list/t.html">た行</a></li>
				  <li><a href="./list/n.html">な行</a></li>
				  <li><a href="./list/h.html">は行</a></li>
				  <li><a href="./list/m.html">ま行</a></li>
				  <li><a href="./list/y.html">や行</a></li>
				  <li><a href="./list/r.html">ら行</a></li>
				  <li><a href="./list/w.html">わ行</a></li>
				  <li><a href="./list/all.html">全部</a></li>
				</ul>
			  </li>
              <li><a href="./se-random-pick-up.html">ランダムピックアップ</a></li>
              <li><a href="./release.html">更新履歴</a></li>
              <li><a href="./modify-plan.html">修正予定</a></li>
              <li><a href="./aggregate.html">集計</a></li>
              <li><a href="./recommend.html">遊び場</a></li>
            </ul>
          </div>
        </div>
      </div>
    </header>
    
    
    <div class="container">
    

      <hr>
    
      <div class="row">
        <div class="col-lg-12 text-right">
          <a href="#" id="scroll">最上部に戻る</a>
        </div>
      </div>
    </div>
    
    
  </body>
</html>